* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;  
  color: #999;
  font: normal 16px/1.5 "HelveticaNeue-Light", "Times New Roman", serif;
}

img {
  max-width: 100%;
}

a {
  color: #507998;
  text-decoration: none;
  text-shadow: none;
  border-bottom: 1px dotted;
  -webkit-box-sizing: padding-box;
     -moz-box-sizing: padding-box;
          box-sizing: padding-box;
}

a:hover {
  color: #24577e;
  border-bottom: 1px solid;
}

.app-store,
.app-store:hover {
  border-bottom: 0;
}

h1, h2, h3, h4 {
  font-family: "HelveticaNeue-CondensedBold", "Arial Narrow", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: rgb(90, 90, 90);
}

h1 {
  font-size: 2.25em;
  text-shadow: none;
}

/* basic layout */
#container {
  width: 100%;  
  padding: 0 5%;
  margin: 0 auto;
  /*background: rgb(200, 200, 200);*/
}

header {
  position: relative;
  padding: 1em;  
  background: rgb(18,150,223);
}

header h1, h2 {
  color: rgb(241, 241, 241);
  text-align: center;
}

header h1 {
  margin: 0;
  font-family: "HelveticaNeue-CondensedBold", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
}

header h2 {
  margin: -0.7em 0 0;
  font-size: 1.25em;
}

header img {
  display: block;
  margin: auto;  
}

em {
  font-size: 120%;
}

.copyright {
  text-align: center;
  color: rgb(50, 50, 50);
  padding-bottom: 1em;
}

.copyright a {
  color: rgb(0, 0, 0);
}

#main h1 {
  line-height: 1.1;
  font-size: 2.25em;
  width: 92%;
  margin-bottom: 0.5em;
  letter-spacing: 0.04em;
}

.iphone {
  position: relative;
  max-width: 744px;
  max-height: 396px;
}
  
footer {
  padding: 1em 0;
  font-size: 0.75rem;
}

@media all and (min-width: 37.5em) {
  body {
    font-size: 16px;
  }
  
  #container {
    max-width: 64em;
  }
  
  #main {
    position: relative;
    width: 48%;
    margin-left:52%;
    min-height: 47em;
  }
  
  #main h1 {
    font-size: 3.25em;
    width: 90%;
    margin-bottom: 0.5em;
  }
  
  .valueprop {
    font-size: 1.25em;
    color: rgb(90, 90, 90);
  }
  
  aside {
    width: 90%;
    margin-left: -90%;
    position: absolute;
    top: 0em;
  }
  
  .iphone img {
    max-width: 100%;
  }
  
  .iphone {
    width: 100%;
    height: 100%;
  }
  
  header h1 {
    line-height: 1.375;
  }
  
  header h2 {
    margin: -0.7em 0 0;
    font-size: 1.25rem;
    color: rgb(241,241,241);
  }
}

@media all and (max-width: 37.5em) {
  div.iphone {
    display: none; 
  } 
}